---
---

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

a {
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
}

.site-title {
    font-family: 'PT Sans', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}